# Sets

* create a new empty set
* print that set

In [1]:
S={}
S

{}

* create a non empty set
* print that set

In [2]:
S={2.4,5,7,'d'}
S

{2.4, 5, 7, 'd'}

* iterate over the set and print results

In [3]:
for s in S:
    print(s)

2.4
d
5
7

* add one item to the set

In [4]:
S.update({'2'})
S

{'2', 2.4, 5, 7, 'd'}

* add multiple items to the set

In [5]:
S.update({4,67,7,8,})
S

{'2', 2.4, 4, 5, 67, 7, 8, 'd'}

* remove an item from a set if it is present in the set

In [9]:
S.remove('d'.'2')
print(S)

{2.4, 67, 5, 4, 7, 8}

* find maximum and minimum values of the set

In [10]:
max(S)

67

* print the length of the set

In [11]:
len(S)

6

* create an intersection of x and y

In [13]:
K={2,6,88,9,3,5,7}
print(S&K)

{5, 7}

* create an union of x and y

In [15]:
S|K

{2, 2.4, 3, 4, 5, 6, 7, 8, 9, 67, 88}

* create difference between x and y

In [16]:
S-K

{2.4, 4, 8, 67}

# Collections

* for each word in sentence count occurence
* sentence : black cat jumped over white cat

In [19]:
from collections import Counter
c=Counter('black cat jumped over white cat'.split())
print(c)

Counter({'cat': 2, 'black': 1, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [20]:
C = 'black cat jumped over white cat'
words = C.split()
Counter(words).most_common(1)

[('cat', 2)]

* count the occurences of words in the same sentence but now use defaultdict

In [22]:
from collections import defaultdict

count = defaultdict(int)
names_list = "Mike John Mike Anna Mike John John Mike Mike Britney Smith Anna Smith".split()
for names in names_list:
    count[names] +=1
print(count)

defaultdict(<class 'int'>, {'Mike': 5, 'John': 3, 'Anna': 2, 'Britney': 1, 'Smith': 2})

* create deque from list set used in first exercise

In [23]:
from collections import deque
K=deque(S)
print(K)

deque([2.4, 67, 5, 4, 7, 8])

* append number 10 to deque

In [24]:
K.append(10)
print (K)

deque([2.4, 67, 5, 4, 7, 8, 10])

* remove element from the right end from deque

In [25]:
K.pop()

10

In [26]:
K

deque([2.4, 67, 5, 4, 7, 8])

* remove element from the left end from deque

In [28]:
K.popleft()

2.4

In [29]:
K

deque([67, 5, 4, 7, 8])

* delete all elements from deque

In [32]:
K.clear()

In [33]:
K

deque([])

* create named tuple (people) with name and surname as position names

In [34]:
from collections import namedtuple
people= namedtuple('people', 'Fname,surname')
p1 = people('John','Clarke')
print(p1.Fname)
print(p1.surname)

John
Clarke

* print name and surname

In [35]:
print(p1.Fname)
print(p1.surname)

John
Clarke

# Exception handling
Now, let's go to **errors and exception handling**

* transform all strings from list to upper, if the element is not string don't transform it
* use try except block without use of 'if' statement

In [52]:
try:
    print([x.upper() for x in ['edf','ebtb','REfv']])
except:
    print ("wrong type")

['EDF', 'EBTB', 'REFV']

### We have the function created below:

Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [38]:
def relation_to_luke(text):
    _dict = {"Darth Vader" : "father",
             "Leia" : "sister",
             "Han"  : "brother in law",
             "R2D2" : "droid"
            }
    print(f"Luke, I am your " + _dict[text])

#### Task I
Fix errors in the function above so we can run following code

In [40]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

> #### Note
> We **cannot** use **if** statement for this

In [41]:
def relation_to_luke(text):
    _dict = {"Darth Vader" : "father",
             "Leia" : "sister",
             "Han"  : "brother in law",
             "R2D2" : "droid"
            }
    try:
        
        print(f"Luke, I am your " + _dict[text])
    except:
        print(text+' is not in the relation with Luke')

In [42]:
relation_to_luke('Wonho')

Wonho is not in the relation with Luke